.DS_Store
vivado/.Xil
vivado/*.runs
vivado/*.sim
vivado/*.cache
vivado/*.hw
vivado/*.ip_user_files
testbench/cpu/testcases/__pycache__
ucore/obj/
ucore/dep/
ucore/*.o
ucore/*.a
ucore/*.bin
ucore/*.ub
ucore/boot/*.bin
ucore/boot/*.o
ucore/boot/loader
ucore/boot/loader.o
ucore/boot/loader.bin
ucore/*.d
ucore/tools/mksfs
ucore/.gdb_history
ucore/.config_*
ucore/doc/*.aux
ucore/doc/*.bbl
ucore/doc/*.blg
ucore/doc/*.log
ucore/doc/*.synctex.gz
.vscode